PyQt5
PyQtWebEngine
openpyxl
pandas
numpy
opencv-python
pillow
folium
geopy
pathfinding
scipy
matplotlib
tqdm
pyttsx3
telegram
torch
facenet-pytorch
deepface
onnxruntime
tensorflow
h5py
gdown
bs4
requests
